* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_primario: #ffffff;
    --color_segundario: #000000;
}

html {
    font-size: 62.5%;
    font-family: 'Berkshire Swash', cursive, 'Courgette', cursive;
    background-color: var(--color_segundario);
    color: var(--color_primario);
}

.navbar {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    margin: 1rem 0;
}

.navbar__ul {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 90%;
    padding-bottom: 1rem;
}

.navbar__ul--li.item {
    height: auto;
    list-style: none;
    font-size: 1.3rem;
}

.navbar__ul--li img {
    z-index: -2;
    width: 15rem;
    height: 10rem;
}

/* Estilos para los enlaces */
.flaming-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--color_primario);
    text-decoration: none;
    position: relative;
    font-size: 3rem;
}

.flaming-link:hover {
    color: #e0d9d9;
    transition: color 0.2s ease-in-out;
    /* transición suave */
}

/* Capa de fondo en el pseudo-elemento ::after */
.flaming-link::after {
    height: auto;
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://assets.stickpng.com/images/580b585b2edbce24c47b2654.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

/* Animación de llamas */
.flaming-link:hover::after {
    opacity: .8;
    animation: flames .7s linear;
}

@keyframes flames {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: .8;
    }
}

.contenedor__temporadas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.contenedor__temporadas--a {
    position: relative;
    display: inline-block;
    padding: 1px 1px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.contenedor__temporadas--a:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}

.contenedor__temporadas--a span {
    position: absolute;
    display: block;
}

#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}

.contenedor__temporadas--a:hover #span1 {
    left: 100%;
    transition: 1s;
}

#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}

.contenedor__temporadas--a:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}

.contenedor__temporadas--a:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}

.contenedor__temporadas--a:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.titulo {
    color: var(--color_primario);
    font-size: 4rem;
    text-align: center;
    margin-top: 20px;
}

.temporadas__img {
    width: 310px;
    height: 380px;
}

.titulo.personajes {
    margin-bottom: 40px;
}

.personajes__img {
    width: 600px;
    height: 450px;
    margin-left: 380px;
    border-radius: 15px;
    filter: contrast(120%) saturate(120%);
}

.contenedor__descripcion {
    display: flex;
}

.descripcion--tanjiro {
    color: var(--color_primario);
    font-size: 18px;
    font-family: Courgette;
}

.contenedor__descripcion--tanjiro {
    width: 250px;
    height: auto;
    margin-left: 100px;
}


.personajes__img2 {
    width: 250px;
    height: 350px;
    margin-top: 12px;
    border-radius: 15px;
    filter: contrast(120%) saturate(120%);
}

.personajes__img.tanjiro {
    box-shadow: 0 0 30px rgb(252, 3, 169);
}

.personajes__img.nezuko {
    box-shadow: 0 0 30px rgb(231, 93, 201);
}

.personajes__img.senitzu {
    box-shadow: 0 0 30px rgb(90, 3, 124);
}

.personajes__img.inosuke {
    box-shadow: 0 0 30px rgb(26, 3, 151);
}

.personajes__img.muzan {
    box-shadow: 0 0 30px rgb(158, 6, 6);
}

.personajes__img2.tanjiro {
    box-shadow: 0 0 30px rgb(54, 89, 247);
}

.personajes__img2.nezuko {
    box-shadow: 0 0 30px rgb(241, 31, 154);
}

.personajes__img2.senitzu {
    box-shadow: 0 0 30px rgb(233, 141, 37);
}

.personajes__img2.inosuke {
    box-shadow: 0 0 30px rgb(191, 192, 194);
}

.personajes__img2.muzan {
    box-shadow: 0 0 30px rgb(67, 2, 70);
}


.nombre--tanjiro {
    color: var(--color_primario);
    font-size: 80px;
    position: absolute;
    top: 470px;
    left: 550px;
    width: 600px;
    z-index: 1;
    /* para asegurarse de que el h1 esté por encima del otro contenido */
}

.espada__img1 {
    width: 450px;
    height: 80px;
    display: block;
    margin: 30px auto;
    border: solid 2px black;
    border-radius: 2px;
}

.espada__img2 {
    width: 350px;
    height: 250px;
    display: block;
    margin: 30px auto;
    border: solid 2px black;
    border-radius: 2px;
}

.espada__img3 {
    width: 350px;
    height: 250px;
    display: block;
    margin: 30px auto;
    border: solid 2px black;
    border-radius: 2px;
}

.espada__img4 {
    width: 350px;
    height: 250px;
    display: block;
    margin: 30px auto;
    border: solid 2px black;
    border-radius: 2px;
}

.espada__img5 {
    width: 350px;
    height: 250px;
    display: block;
    margin: 30px auto;
    border: solid 2px black;
    border-radius: 2px;
}

.contenedor__descripcion div {
    position: relative;
}

.nombre--tanjiro.senitzu {
    width: 800px;
}

.nombre--tanjiro.inosuke {
    width: 800px;
}


.contenedor__info {
    width: 150rem;
    height: 90rem;
    background-image: url(./imagenes/varios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.contenedor__info--div {
    position: relative;
    top: 300px;
    width: 519px;
    height: 611px;
    border: 1px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(1px);
    margin: 0 auto;
}

.contenedor__info--p {
    font-size: 35px;
    text-align: center;
    color: white;
    margin: 60px;
}

.footer__contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 12rem;
    background-color: #fafafa10;
    margin-top: 70px;
    font-size: 15px;
    font-family: Courgette;
}

.footer__contenedor--politicas {
    display: flex;
    width: 40rem;
    justify-content: space-around;
}

.footer__contenedor--logos i {
    margin: 5px;
}

.footer__logo--kimetsu {
    width: 8rem;
    height: 8rem;
}